node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# expo router
expo-env.d.ts

.env*

ios
android

.DS_Store

.metro-health-check*

/android
/ios

/coverage

